<!-- ------------------- Tokenomics ---------------------- -->
<section>
    <div class="container_video mt-5">
        <div class=" mt-5 mt-md-2 text-center mx-auto text-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col col-sm-10 col-md-10 mb-2">

                        <div class="card bg-transparent mb-2 mb-sm-0 "
                            style="font-size: 22px; box-shadow: 0px 0px 20px 2px rgb(255,255,255);">

                            <div class="card-body text-center">
                                <img src="assets/img/LogoBSTface100x100.png" style="width: 80px;" alt="Brand">
                            </div>
                            <h3 class="card-title text-center mb-4">Tokenomics</h3>
                            <!-- <h3 class="card-title text-center text-truncate mb-4">
                                ......................................................................
                            </h3> -->
                        </div>

                        <!-- FOR COMPUTER -->
                        <div class="card-group mt-2 mt-sm-0 d-none d-sm-flex">

                            <div class="card bg-transparent"
                                style="font-size: 22px; box-shadow: 0px 0px 10px 1px rgb(255,255,255); min-width: 200px;">
                                <h3 class="card-title text-center mb-3 mt-3">Buy Tax 7%</h3>
                                <h5 class="card-text mb-3">4 % USDT Rewards</h5>
                                <h5 class="card-text mb-3">1 % Dev</h5>
                                <h5 class="card-text mb-3">1 % Marketing</h5>
                                <h5 class="card-text mb-3">1 % Liquidity Pool</h5>
                            </div>

                            <div class="card bg-transparent"
                                style="font-size: 22px; box-shadow: 0px 0px 10px 1px rgb(255,255,255); min-width: 200px;">
                                <h3 class="card-title text-center mb-3 mt-3">TOTAL SUPPLY</h3>
                                <h5 class="card-text mb-3">2 500 000 000 BST</h5>
                                <h5 class="card-text mb-3">7 % Private Sale</h5>
                                <h5 class="card-text mb-3">20 % Presale</h5>
                                <h5 class="card-text mb-3">30 % Public Sale</h5>
                                <h5 class="card-text mb-3">8 % Liquidity Fund</h5>
                                <h5 class="card-text mb-3">10 % Reserve Fund</h5>
                                <h5 class="card-text mb-3">11 % Comunity Pool</h5>
                                <h5 class="card-text mb-3">14 % Team Tokens</h5>
                            </div>

                            <div class="card bg-transparent"
                                style="font-size: 22px; box-shadow: 0px 0px 10px 1px rgb(255,255,255); min-width: 200px;">
                                <h3 class="card-title text-center mb-3 mt-3">Sell Tax 13%</h3>
                                <h5 class="card-text text-danger mb-3">8% USDT Rewards</h5>
                                <h5 class="card-text text-danger mb-3">3% Liquidity Pool</h5>
                                <h5 class="card-text text-danger mb-3">2% Auto Burn</h5>
                            </div>

                        </div>


                        <!-- FOR PHONE -->

                        <h3 class="text-center d-inline d-sm-none">
                            <button class=" btn btn-outline-light mb-2"
                                style="font-size: 20px; box-shadow: 0px 0px 20px 2px rgb(255,255,255);"
                                (click)="btn_info1()">
                                Buy tax
                            </button>
                        </h3> <br>

                        <div *ngIf="info1" class="card bg-transparent d-flex d-sm-none mb-2"
                            style="font-size: 22px; box-shadow: 0px 0px 10px 1px rgb(255,255,255); min-width: 200px;">
                            <h3 class="card-title text-center mb-3 mt-3">Buy Tax 7%</h3>
                            <h5 class="card-text mb-3">4 % USDT Rewards</h5>
                            <h5 class="card-text mb-3">1 % Dev</h5>
                            <h5 class="card-text mb-3">1 % Marketing</h5>
                            <h5 class="card-text mb-3">1 % Liquidity Pool</h5>
                        </div>



                        <h3 class="text-center d-inline d-sm-none d-inline d-sm-none">
                            <button class=" btn btn-outline-light mb-2"
                                style="font-size: 20px; box-shadow: 0px 0px 20px 2px rgb(255,255,255);"
                                (click)="btn_info2()">
                                TOTAL SUPPLY
                            </button>
                        </h3><br>

                        <div *ngIf="info2" class="card bg-transparent d-flex d-sm-none mb-2"
                            style="font-size: 22px; box-shadow: 0px 0px 10px 1px rgb(255,255,255); min-width: 200px;">
                            <h3 class="card-title text-center mb-3 mt-3">TOTAL SUPPLY</h3>
                            <h5 class="card-text mb-3">2 500 000 000 BST</h5>
                            <h5 class="card-text mb-3">7 % Private Sale</h5>
                            <h5 class="card-text mb-3">20 % Presale</h5>
                            <h5 class="card-text mb-3">30 % Public Sale</h5>
                            <h5 class="card-text mb-3">8 % Liquidity Fund</h5>
                            <h5 class="card-text mb-3">10 % Reserve Fund</h5>
                            <h5 class="card-text mb-3">11 % Comunity Pool</h5>
                            <h5 class="card-text mb-3">14 % Team Tokens</h5>
                        </div>


                        <h3 class="text-center d-inline d-sm-none">
                            <button class=" btn btn-outline-light mb-2"
                                style="font-size: 20px; box-shadow: 0px 0px 20px 2px rgb(255,255,255);"
                                (click)="btn_info3()">
                                Sell Tax
                            </button>
                        </h3>

                        <div *ngIf="info3" class="card bg-transparent d-flex d-sm-none"
                            style="font-size: 22px; box-shadow: 0px 0px 10px 1px rgb(255,255,255); min-width: 200px;">
                            <h3 class="card-title text-center mb-3 mt-3">Sell Tax 13%</h3>
                            <h5 class="card-text text-danger mb-3">8% USDT Rewards</h5>
                            <h5 class="card-text text-danger mb-3">3% Liquidity Pool</h5>
                            <h5 class="card-text text-danger mb-3">2% Auto Burn</h5>
                        </div>





                    </div>
                </div>
            </div>
        </div>
    </div>
</section>