<!-- -------------------RoadMap---------------------- -->
<section>
    <div class="container_video mt-5">
        <div class=" mt-5 mt-md-2 text-center mx-auto text-light">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col col-sm-9 col-md-9 mb-2">
                        <div class="card bg-transparent "
                            style="font-size: 22px; box-shadow: 0px 0px 20px 2px rgb(255,255,255);">
                            <div class="card-body text-center">

                                <ul class=" timeline">

                                    <li>
                                        <h2 class="text-center">Phase 1</h2>
                                    </li>

                                    <li>
                                        <p>- Contract Audit ✅ </p>
                                    </li>

                                    <li>
                                        <p>- Website Launch ✅ </p>
                                    </li>

                                    <li>
                                        <p>- Website Launch ✅</p>
                                    </li>

                                    <li>
                                        <p>- Token Deploy </p>
                                    </li>

                                    <li>
                                        <p>- Marketing Push </p>
                                    </li>

                                    <li>
                                        <p>- Marketing Push </p>
                                    </li>

                                    <li>
                                        <p>- Social Media Advertising </p>
                                    </li>

                                    <li>
                                        <p>- Doxxed Team ✅</p>
                                    </li>

                                    <li>
                                        <h2 class="text-center">Phase 2</h2>
                                    </li>




                                </ul>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>